@import url("https://fonts.googleapis.com/css?family=Metal+Mania");
@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff");
    src: url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
*{
  box-sizing: border-box;
  color: #777;
}
html, body{
    margin: 0;
    padding: 0;
}

/*Header*/
.main-header{
    background-color: rgb(247, 8, 20);
    background-image: url(image/1000032002.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    padding-bottom: 1cm;
}

.head-nav .unorder{
    margin: 0;
    padding: 0%;
    text-align: center;
    font-size:  1.2em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255,255,255, .3);
}
.head-nav li {
    display: inline;
    padding: .2em;
}
.head-nav a{
    padding: 1.2em;
    color: white;
    text-decoration: none;
    display: inline-block;
}
.head-nav a:hover{
    background-color: rgba(255,255,255, .3);
}

.band-name{
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}
.head-band-name{
    font-size: 6em;
}

.btn {
    text-align:center;
    vertical-align: middle;
    padding: 10px;
    cursor: pointer;

}
.btn-head.btn-play{
    display: block;
    margin: 0 auto;
    padding: 0;
    color: rgb(236, 228, 228);
    text-decoration: none;
    border-radius: 20px;  
    font-size: 2em;
    width: 75px;
    height: 75px;
    background-color:rgba(241, 32, 32, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;
}
.btn-head.btn-play:hover{
    background-color: rgb(194, 51, 51);
}
.center-group {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-head{
    color: white;
    border: 2px solid rgb(240, 217, 219);
    background-color: rgb(194, 51, 51);
    border-radius: 0;
    font-size: 1.2em;
    font-weight: lighter;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    border-radius: 50px;
}
.btn-head a{
    text-decoration: none;
    color: white;
}
.btn-head:hover{
    background-color: #777;
}


/*HOME*/
.body-title{
    font-family: "Booter - Zero Zero";
    text-align: center;
    font-size: 3em;
    color: #000000;
}
.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}
.tour-row{
    border-bottom: 1px solid black ;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.tour-row:last-child{
    border-bottom: none;
}
.tour-item{
    display: inline-block;
    padding-right: .5em;
}
.tour-item.tour-date{
    color: #555;
    font-size: 15px;
    font-weight: bold;
    width: 25%;
}
.tour-city{
    width: 25%;
    font-weight: bold;
    color: #8a4a4a;

}
.tour-arena{
    width: 30%;
    font-weight: bold;
    color: #8a4a4a;
}
.tour-ticket{
    max-width: 20%;
}
.btn-primary{
    color: white;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    background-color: rgb(194, 51, 51);
}
.btn.btn-primary:hover{
    background-color: rgb(248, 9, 9);
}


/* Store */
.shop-now{
    margin: 30px;
}
.shop-item{
    /* display in row */
    display: flex;
    /* wrap when pass the screen this will go on column*/
    flex-wrap: wrap;
    /* this will make space even in both side */
    justify-content: space-around;
}
.shop-item-dress{
    display: block;
    width: 200px;
    height: 300px;
    margin-bottom: 15px;
}
.shop-item-price{
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}
.shop-item-button{
    padding: .4em;
    font-size: small;
    font-weight: lighter;
    margin: 0;
}
.shop-item-sale{
    font-family: "Booter - Zero Zero";
    font-size: xx-large;
    font-weight: bold;
    color: #4b4949;
}
.burn-image{
    background-color: white; 
    mix-blend-mode: lighten; 
    filter: brightness(1.2); /* Lightens the image to remove grayish background */
    display: block; 
}

.cart-row{
    display: flex;
    justify-content: space-between;
}
.cart-header{
    font-weight: bold;
    font-size: 1.25em;
    color: #201d1d;
    text-align: center;
}
.cart-column{
    border-bottom: 1.9px solid black;
    margin-right: .5em;
    margin-left: .2em;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cart-item{
    width: 25%;
}
.cart-price{
    width: 20%;
}
.cart-quantity{
    width: 30%;
}
.cart-column-image{
    width: 45px;
    height: auto;
    margin-left: 1.2em;
}
.cart-column-button{
    padding: 10px auto 9px auto ; 
    align-items: end; 
      
}
.cart-column-quantity{
    height: 35px;
    width: 50px;
    border-radius: 8px;
    border: 1px solid rgb(26, 122, 248);
    background-color: rgb(235, 235, 235);
    color: #0d0d0e;
    padding: 10px;
    text-align: center;
    font-size: 1em;
    margin-right: 35 px;
    margin-bottom: 12px;
    margin-left: 12px;
}
.cart-column-price{
    font-family: "Booter - Zero Zero";
    font-size: xx-large;
    font-weight: bold;
    color: #4b4949;
    display: block;
    margin: auto;
}
.cart-row:last-child .cart-column{
    border-bottom: none;
}
.cart-row:last-child{
    border-bottom: 1px solid black;
}
.cart-total{
    text-align: end;
    margin-top:10px;
    margin-right: 10em;
}
.cart-total{
    text-align:center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cart-total-title{
    font-weight: bold;
    font-size: 1.5em;
    color: #111010;
    margin-left: 30px ;
}
.cart-total-price{
    font-family: "Booter - Zero Zero";
    font-size: xx-large;
    font-weight: bold;
    color: #4b4949;
    margin-left: 30px;
}
.cart-purchase{
    display: block;
    margin: 40px auto 80px auto;
    font-size: 19px;
    border-radius: 0%;
}


/* ABOUT */
.kurt-cobain{
    display: block;
    margin: auto;
    width: 170px;
    height: 170px;
    border-radius: 20%;
    padding: 0;
}
.kurt-title{
    text-align: center;
    font-size: large;
    margin: 1em;
    padding: 0;
    color: #333365;
}
.kurt-doc{
    font-size: 18px;
    color: #000000;
    padding: .5em .1em;
}








/*footer*/
.main-footer{
    background-color: rgb(17, 4, 4);
    color: white;
    padding: .25cm 0;
    margin: 0;
    
}
.main-footer-container{
    display: flex;
    align-items: center;
}

.main-footer-container ul{
    flex-grow: 1;
    text-align: end;
}
.footer-nav li{
    display: inline;
    padding: 0  .2em;
}
.footer-nav i{
   width: 30px;
   height: 30px;
   font-size:x-large;
   padding: 10px;
}